@model AnimalShelterWebApp.Models.InputModels.Hotel.ResidentInputModel
@{ 
    ViewBag.Title = "Index";
}
<div class="container" id="footerAndBody">
    <div class="jumbotron w-100 mt-2 mb-2 bg-mainGreen text-center text-dark pt-3 pb-3">
        <h3 class="text-white">Add Animal</h3>
        @using (Html.BeginForm("ResidentAdd", "Hotel", "FormMethod.Post"))
        {
            <div class="jumbotron bg-white p-4">
                <form id="addResidentForm">
                    <div class="row m-0">
                        <div class="col-sm">
                            <input class="text-center rounded" type="text" placeholder="Name" disabled />
                        </div>
                        <div class="col-sm">
                            @Html.TextBoxFor(model => model.Name)
                        </div>
                        <div class="col-sm">
                            <input class="text-center rounded" type="text" placeholder="Race" disabled />
                        </div>
                        <div class="col-sm">
                            @Html.TextBoxFor(model => model.Type)
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-sm">
                            <input class="text-center rounded" type="text" placeholder="From" disabled />
                        </div>
                        <div class="col-sm">
                            @Html.TextBoxFor(model => model.From)
                        </div>
                        <div class="col-sm">
                            <input class="text-center rounded" type="text" placeholder="To" disabled />
                        </div>
                        <div class="col-sm">
                            @Html.TextBoxFor(model => model.To)
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-sm">
                            <input class="text-center rounded" type="text" placeholder="Owner e-mail" disabled />
                        </div>
                        <div class="col-sm">
                            @Html.TextBoxFor(model => model.OwnerEmail)
                        </div>
                        <div class="col-sm">
                            <input class="text-center rounded" type="text" placeholder="Description" disabled />
                        </div>
                        <div class="col-sm">
                            @Html.TextBoxFor(model => model.Desc)
                        </div>
                    </div>
                    <button type="submit" class="btn bg-mainGreen text-center text-white mt-3 mb-0">Add Animal</button>
                </form>
            </div>
        }

        <h3 class="text-white">Manage Animals</h3>
            <div class="jumbotron bg-white p-4">
                <div class="table-responsive makeMeScroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">From</th>
                                <th scope="col">To</th>
                                <th scope="col">Owner e-mail</th>
                                <th scope="col">Description</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        @using (Html.BeginForm("ResidentAnimal", "Hotel", "FormMethod.Post"))
                        {
                            <tbody>
                                @Html.Raw(ViewData["table"])
                            </tbody>
                        }
                    </table>
                </div>
            </div>
    </div>

    <div class="container bg-mainGreen text-white text-center">
        <p class="p-1">&copy; 2019 Joanna Piórkowska, Karolina Makowska, Kajetan Krzewina</p>
    </div>
</div>

