@model AnimalShelterWebApp.Models.InputModels.Event.EventInputModel
@{
    ViewBag.Title = "Index";
}

<div class="container" id="footerAndBody">

    <div class="jumbotron w-100 mt-2 mb-2 bg-mainGreen text-center text-dark pt-3 pb-3">

        <h3 class="text-white">Add Events</h3>
        <div class="jumbotron bg-white p-4">
            @using (Html.BeginForm("AddEvent", "Event", "FormMethod.Post"))
            {
                <form>
                    <div class="row m-0">
                        <div class="col-sm">
                            <input class="text-center rounded" type="text" placeholder="Name" disabled />
                        </div>
                        <div class="col-sm">
                            @Html.TextBoxFor(model => model.Name);
                        </div>
                        <div class="col-sm">
                            <input class="text-center rounded" type="text" placeholder="Date" disabled />
                        </div>
                        <div class="col-sm">
                            @Html.TextBoxFor(model => model.Date);
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-sm">
                            <input class="text-center rounded" type="text" placeholder="Time" disabled />
                        </div>
                        <div class="col-sm">
                            @Html.TextBoxFor(model => model.Time);
                        </div>
                        <div class="col-sm">
                            <input class="text-center rounded" type="text" placeholder="About" disabled />
                        </div>
                        <div class="col-sm">
                            @Html.TextBoxFor(model => model.About);
                        </div>
                    </div>
                    <button type="submit" class="btn bg-mainGreen text-center text-white mt-3 mb-0">Add Event</button>
                </form>
            }
            </div>

        <h3 class="text-white">Mange Events</h3>
        <div class="jumbotron bg-white p-4">

            @using (Html.BeginForm("EventDelete", "Event", "FormMethod.Post"))
            {
                <div class="table-responsive makeMeScroll">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">About</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.Raw(ViewData["table"])
                        </tbody>
                    </table>
                    
                </div>
            }
            </div>



    </div>

    <div class="container bg-mainGreen text-white text-center">
        <p class="p-1">&copy; 2019 Joanna Piórkowaska, Karolina Makowska, Kajetan Krzewina</p>
    </div>
</div>